In [1]:
import matplotlib.pyplot as plt
import numpy as np
from enmspring.graphs_bigtraj import BB1MeanModeAgent
from enmspring.abbr import Abbreviation
rootfolder = '/home/ytcdata/bigtraj_fluctmatch/500ns'

### Part 1: Batch Make DataFrame

In [ ]:
host = 'gcgc_21mer'
interval_time = 500
make_and_save = True
s_agent = BB1MeanModeAgent(host, rootfolder, interval_time)
if make_and_save:
    s_agent.preprocess_all_small_agents()
    s_agent.make_mean_mode_laplacian()
    s_agent.save_mean_mode_laplacian_into_npy()
    s_agent.make_mean_mode_std_laplacian()
    s_agent.save_mean_mode_std_laplacian_into_npy()
    s_agent.make_b0_mean_std()
    s_agent.save_b0_mean_std_into_npy()

### Test

In [1]:
from enmspring.graphs_bigtraj import BB1Graph

In [4]:
host = 'a_tract_21mer'
time_label = '0_500'
small_agent = BB1Graph(host, rootfolder, time_label)

/home/ytcdata/bigtraj_fluctmatch/500ns/a_tract_21mer/bdna+bdna/0_500/pd_dfs exists

In [5]:
small_agent.df_all_k.head()

,PairID,PairType,Big_Category,Strand_i,Resid_i,Atomname_i,Atomid_i,Strand_j,Resid_j,Atomname_j,Atomid_j,k,b0
0,1,same-P-P-0,backbone,STRAND1,1,O5',1,STRAND1,1,C5',2,0.3622,1.9512
1,2,same-P-S-0,backbone,STRAND1,1,O5',1,STRAND1,1,C4',3,0.1289,2.8975
2,3,same-P-S-0,backbone,STRAND1,1,O5',1,STRAND1,1,O4',4,0.2113,3.3340
3,4,same-P-S-0,backbone,STRAND1,1,O5',1,STRAND1,1,C1',5,0.0000,4.1006
4,5,same-P-B-0,backbone,STRAND1,1,O5',1,STRAND1,1,N9,6,0.0000,4.5977

In [7]:
df_temp = small_agent.get_df_backbone_ribose()

In [8]:
df_temp

,PairID,PairType,Big_Category,Strand_i,Resid_i,Atomname_i,Atomid_i,Strand_j,Resid_j,Atomname_j,Atomid_j,k,b0,resname_i
32,33,same-S-B-0,sugar,STRAND1,1,O4',4,STRAND1,1,C8,7,2.9071,3.1457,A
35,36,same-S-B-0,sugar,STRAND1,1,O4',4,STRAND1,1,N3,14,0.7263,3.9285,A
36,37,same-S-B-0,sugar,STRAND1,1,O4',4,STRAND1,1,C4,15,2.2278,3.4264,A
202,203,same-S-B-0,sugar,STRAND1,1,C4,15,STRAND1,1,C2',17,0.6938,3.6583,A
288,289,same-S-B-0,sugar,STRAND1,2,O4',25,STRAND1,2,C8,28,5.4934,3.2102,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8849,8850,same-S-B-0,sugar,STRAND2,20,O4',822,STRAND2,20,C5,826,0.7909,4.2686,T
9115,9116,same-S-B-0,sugar,STRAND2,21,N3,850,STRAND2,21,C2',854,0.1553,4.7353,T
9202,9203,same-S-B-0,sugar,STRAND2,1,C7,447,STRAND2,1,C2',454,0.1260,5.4507,T
9391,9392,same-S-B-0,sugar,STRAND2,21,C4,848,STRAND2,21,C2',854,0.1670,5.1382,T
9443,9444,same-S-B-0,sugar,STRAND2,21,C7,847,STRAND2,21,C2',854,0.9343,5.3741,T

In [10]:
list(set(df_temp['PairType']))

['same-S-B-0']