In [1]:
import matplotlib.pyplot as plt
import numpy as np
from enmspring.graphs_bigtraj import BB2MeanModeAgent
from enmspring.abbr import Abbreviation
rootfolder = '/home/ytcdata/bigtraj_fluctmatch/500ns'

### Part 1: Batch Make DataFrame

In [ ]:
host = 'gcgc_21mer'
interval_time = 500
make_and_save = False
s_agent = BB2MeanModeAgent(host, rootfolder, interval_time)
if make_and_save:
    s_agent.preprocess_all_small_agents()
    s_agent.make_mean_mode_laplacian()
    s_agent.save_mean_mode_laplacian_into_npy()
    s_agent.make_mean_mode_std_laplacian()
    s_agent.save_mean_mode_std_laplacian_into_npy()
    s_agent.make_b0_mean_std()
    s_agent.save_b0_mean_std_into_npy()

### Test

In [4]:
from enmspring.graphs_bigtraj import BB2Graph

In [5]:
host = 'a_tract_21mer'
time_label = '0_500'
small_agent = BB2Graph(host, rootfolder, time_label)

/home/ytcdata/bigtraj_fluctmatch/500ns/a_tract_21mer/bdna+bdna/0_500/pd_dfs exists

In [6]:
small_agent.df_all_k.head()

,PairID,PairType,Big_Category,Strand_i,Resid_i,Atomname_i,Atomid_i,Strand_j,Resid_j,Atomname_j,Atomid_j,k,b0
0,1,same-P-P-0,backbone,STRAND1,1,O5',1,STRAND1,1,C5',2,0.3622,1.9512
1,2,same-P-S-0,backbone,STRAND1,1,O5',1,STRAND1,1,C4',3,0.1289,2.8975
2,3,same-P-S-0,backbone,STRAND1,1,O5',1,STRAND1,1,O4',4,0.2113,3.3340
3,4,same-P-S-0,backbone,STRAND1,1,O5',1,STRAND1,1,C1',5,0.0000,4.1006
4,5,same-P-B-0,backbone,STRAND1,1,O5',1,STRAND1,1,N9,6,0.0000,4.5977

In [9]:
df_after_filter = small_agent.get_df_backbone_ribose()
df_after_filter

,PairID,PairType,Big_Category,Strand_i,Resid_i,Atomname_i,Atomid_i,Strand_j,Resid_j,Atomname_j,Atomid_j,k,b0
217,218,same-P-S-1,backbone,STRAND1,1,C3',16,STRAND1,2,O2P,21,2.0803,2.9918
218,219,same-P-S-1,backbone,STRAND1,1,C3',16,STRAND1,2,O5',22,0.9653,3.4792
222,223,same-P-S-1,backbone,STRAND1,1,C2',17,STRAND1,2,P,19,2.1014,3.4701
224,225,same-P-S-1,backbone,STRAND1,1,C2',17,STRAND1,2,O2P,21,0.6295,3.7107
235,236,same-P-P-1,backbone,STRAND1,1,O3',18,STRAND1,2,C5',23,1.3027,3.2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10066,10067,same-P-P-1,backbone,STRAND2,6,C5',540,STRAND2,7,O2P,558,0.4869,5.1425
10097,10098,same-P-P-1,backbone,STRAND2,4,C5',500,STRAND2,5,O2P,518,0.4172,5.1700
10115,10116,same-P-P-1,backbone,STRAND2,3,C5',480,STRAND2,4,O2P,498,0.6697,5.1950
10175,10176,same-P-P-1,backbone,STRAND1,20,C5',401,STRAND1,21,O2P,420,0.6947,5.1782
10187,10188,same-P-P-1,backbone,STRAND2,15,C5',720,STRAND2,16,O2P,738,0.5742,5.1862