In [1]:
import matplotlib.pyplot as plt
import numpy as np
from enmspring.graphs_bigtraj import BB1MeanModeAgent
from enmspring.abbr import Abbreviation
rootfolder = '/home/ytcdata/bigtraj_fluctmatch/500ns'

### Part 1: Batch Make DataFrame

In [ ]:
host = 'a_tract_21mer'
interval_time = 500
make_and_save = True
s_agent = BB1MeanModeAgent(host, rootfolder, interval_time)
if make_and_save:
    s_agent.preprocess_all_small_agents()
    s_agent.make_mean_mode_laplacian()
    s_agent.save_mean_mode_laplacian_into_npy()
    s_agent.make_mean_mode_std_laplacian()
    s_agent.save_mean_mode_std_laplacian_into_npy()
    s_agent.make_b0_mean_std()
    s_agent.save_b0_mean_std_into_npy()

### Test

In [6]:
from enmspring.graphs_bigtraj import BB1Graph

In [7]:
host = 'a_tract_21mer'
time_label = '0_500'
small_agent = BB1Graph(host, rootfolder, time_label)

/home/ytcdata/bigtraj_fluctmatch/500ns/a_tract_21mer/bdna+bdna/0_500/pd_dfs exists

In [8]:
small_agent.df_all_k.head()

,PairID,PairType,Big_Category,Strand_i,Resid_i,Atomname_i,Atomid_i,Strand_j,Resid_j,Atomname_j,Atomid_j,k,b0
0,1,same-P-P-0,backbone,STRAND1,1,O5',1,STRAND1,1,C5',2,0.3622,1.9512
1,2,same-P-S-0,backbone,STRAND1,1,O5',1,STRAND1,1,C4',3,0.1289,2.8975
2,3,same-P-S-0,backbone,STRAND1,1,O5',1,STRAND1,1,O4',4,0.2113,3.3340
3,4,same-P-S-0,backbone,STRAND1,1,O5',1,STRAND1,1,C1',5,0.0000,4.1006
4,5,same-P-B-0,backbone,STRAND1,1,O5',1,STRAND1,1,N9,6,0.0000,4.5977